[Unit]
Description = Broadcasts Raspberry Pi sensor readings to MQTT broker
Requires = mosquitto.service
After = network.target

[Service]
ExecStart = /home/pi/raspberrypi/sensors-server/main.py --host localhost --port 1883
User = pi

[Install]
WantedBy = multi-user.target
