<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
  <style>
  </style>
</head>

<body>
  <div id="app">
    <frwa-progress-bar></frwa-progress-bar>
    <frwa-snackbar></frwa-snackbar>
    <router-view></router-view>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://unpkg.com/vue-router"></script>
  <script src="https://unpkg.com/vue-material"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- <frwa-snackbar> -->
  <script type="text/x-template" id="frwa-snackbar-template">
    <md-snackbar md-position="center" :md-active.sync="active" md-persistent>
      <span>{{ message }}</span>
      <md-button class="md-primary" @click="close">Close</md-button>
    </md-snackbar>
  </script>
  <script>
    Vue.component('frwa-snackbar', {
      template: '#frwa-snackbar-template',
      data: () => ({
        active: false,
        message: null,
      }),
      mounted() {
        this.$store.watch((state) => state.lastError, (lastError) => {
          this.message = lastError
          this.active = true
        })
      },
      methods: {
        close() {
          this.active = false
        },
      },
    })
  </script>

  <!-- <frwa-progress-bar> -->
  <script type="text/x-template" id="frwa-progress-bar-template">
    <md-progress-bar md-mode="query" v-if="busy" style="position:fixed;top:0;width:100%;z-index:10"></md-progress-bar>
  </script>
  <script>
    Vue.component('frwa-progress-bar', {
      template: '#frwa-progress-bar-template',
      computed: Vuex.mapGetters(['busy']),
    })
  </script>

  <!-- <frwa-people> -->
  <script type="text/x-template" id="frwa-people-template">
    <md-chips v-model="names" md-placeholder="Add person..." style="padding:5px"
      @md-delete="onDelete" @md-insert="onInsert">
      <template slot="md-chip" slot-scope="{ chip }" md-clickable>
        <div draggable @dragstart="onDragStart(chip, $event)">
          {{ format(chip) }}
        </div>
      </template>
      <div class="md-helper-text">Choose a person &amp; tag their face in the photo</div>
    </md-chips>
  </script>
  <script>
    Vue.component('frwa-people', {
      template: '#frwa-people-template',
      data() {
        return {
          names: []
        }
      },
      mounted() {
        this.$store.watch((_, getters) => getters.names, () => this.resetNames())
        this.$store.dispatch('loadPeople')
      },
      methods: {
        getPerson(name) {
          return this.$store.getters.personByName[name]
        },
        onDragStart(name, event) {
          let person = this.getPerson(name)
          event.dataTransfer.setData('text/plain', 'person_id=' + person.id)
        },
        format(name) {
          let person = this.getPerson(name)
          return `${person.name} (${person.detected_faces.length})`
        },
        onDelete(name) {
          this.resetNames()
          let person = this.getPerson(name)
          if (window.confirm(`Really delete ${person.name}?`)) {
            this.$store.dispatch('deletePerson', { id: person.id })
          }
        },
        onInsert(name) {
          this.resetNames()
          this.$store.dispatch('newPerson', { name })
        },
        resetNames() {
          this.names = [...this.$store.getters.names]
        },
      }
    })
  </script>

  <!-- <frwa-image> -->
  <script type="text/x-template" id="frwa-images-template">
    <md-empty-state
      v-if="ids.length === 0"
      md-icon="tag_faces"
      :md-label="noIdsLabel"
      md-description="Let the camera capture a few mugshots, then come back and tag your friends to allow face recognition to work!">
    </md-empty-state>
    <div v-else @keyup.left="prev" @keyup.right="next" tabindex="0">
      <div style="position:relative">
        <md-button class="md-raised" style="position:absolute;bottom:1em" @click="deleteImage">
          <md-icon>delete</md-icon>Bad detection?
        </md-button>
        <svg v-if="image" :viewBox="'0 0 ' + image.width + ' ' + image.height">
          <image x="0" y="0" :width="image.width" :height="image.height" :xlink:href="image.data_uri"></image>
          <frwa-svg-face v-for="face in image.detected_faces" :key="face.id" :face="face" />
        </svg>
      </div>
      <span v-on:click="prev"><md-icon>chevron_left</md-icon></span>
      {{this.index + 1}} of {{this.count}}
      <span v-on:click="next"><md-icon>chevron_right</md-icon></span>
    </div>
  </script>
  <script>
    Vue.component('frwa-images', {
      template: '#frwa-images-template',
      data() {
        return {
          ids: [],
          image: null,
        }
      },
      props: ['kind', 'id'],
      async mounted() {
        this.ids = await this.loadIds(this.kind)
        let requestedId = this.$route ? this.$route.params.id : this.id
        this.loadImage(this.determineId(requestedId))
      },
      computed: {
        index() {
          return (this.ids && this.image) ? this.ids.indexOf(this.image.id) : null
        },
        count() {
          return this.ids ? this.ids.length : null
        },
        noIdsLabel() {
          switch (this.kind) {
            case 'untagged':
              return 'No untagged faces!'
            default:
              return 'No images :('
          }
        },
      },
      methods: {
        determineId(requestedId) {
          if (this.ids && this.ids.includes(requestedId)) {
            return requestedId
          } else if (this.ids && this.ids.length > 0) {
            return this.ids[0]
          }
        },
        async loadIds(kind) {
          let result = await this.$store.dispatch('doAction', {
            name: 'loadImageIds',
            action: () => axios.get('/ids/Image' + (kind ? '/' + kind : ''))
          })
          return result.data
        },
        async loadImage(id) {
          if (!id) {
            this.image = null
            return
          }
          if (this.image && this.image.id === id) return
          this.image = await this.$store.dispatch('doAction', {
            name: 'loadImage',
            action: async () => {
              let response = await axios.get('/entity/Image/' + id)
              let image = response.data
              let faceResponses = await Promise.all(image.detected_faces.map(id => axios.get('/entity/DetectedFace/' + id)))
              image.detected_faces = faceResponses.map(r => r.data)
              return image
            }
          })
        },
        async deleteImage() {
          if (!this.image) return
          await this.$store.dispatch('doAction', {
            name: 'deleteImage',
            action: () => axios.delete('/entity/Image/' + this.image.id),
          })

          let newIndex = this.index
          this.ids = this.ids.filter(filteredId => filteredId !== this.image.id)
          newIndex = Math.max(newIndex, this.ids.length - 1)
          return this.loadImage(this.ids[newIndex])
        },
        prev() {
          let newIndex
          if (this.index === 0) {
            newIndex = this.ids.length - 1
          } else {
            newIndex = this.index - 1
          }
          this.loadImage(this.ids[newIndex])
        },
        next() {
          let newIndex
          if (this.index === this.ids.length - 1) {
            newIndex = 0
          } else {
            newIndex = this.index + 1
          }
          this.loadImage(this.ids[newIndex])
        },
        updateRoute(id) {
          if (!this.$router) return
          debugger
          this.$router.push({ name: this.$route.name, params: { ...this.$route.params, id: id } })
        },
      },
      watch: {
        image: function (newImage, oldImage) {
          this.updateRoute(newImage && newImage.id)
        },
        '$route.params.id': function (newId, oldId) {
          this.loadImage(this.determineId(newId))
        },
      },
    })
  </script>

  <!-- <frwa-svg-face> -->
  <script type="text/x-template" id="frwa-svg-face-template">
    <g @dragover.prevent="dragOver(face, $event)" @drop.prevent="drop(face, $event)">
      <rect :x="face.image_region.left" :y="face.image_region.top" :rx="5" :ry="5"
        :width="face.image_region.right - face.image_region.left"
        :height="face.image_region.bottom - face.image_region.top"
        fill-opacity="0" stroke="white" stroke-width="2" />
      <polyline v-for="(points, label) in face.labeled_landmarks" :key="face.id + label"
        :points="points.map(p=>p[0]+','+p[1]).join(' ')"
        fill="none" stroke="red" />
    </g>
  </script>
  <script>
    Vue.component('frwa-svg-face', {
      template: '#frwa-svg-face-template',
      props: ['face'],
      computed: {
        person() {
          return this.$store.state.personById[this.face.person]
        },
        name() {
          if (this.person) return this.person.name
        },
      },
      methods: {
        getPersonId(event) {
          let data = event.dataTransfer.getData("text/plain")
          if (!data) return
          let match = data.match("^person_id=(.*)")
          if (!match) return
          return match[1]
        },
        dragOver(face, event) {
          if (this.getPersonId(event)) {
            event.dataTransfer.dropEffect = 'link'
          }
        },
        drop(face, event) {
          let person = this.$store.state.personById[this.getPersonId(event)]
          if (!person) return
          this.$store.dispatch('linkFaceToPerson', { face, person })
        },
      },
    })
  </script>

  <script>
    Vue.use(Vuex)
    Vue.use(VueRouter)
    Vue.use(VueMaterial.default)

    // workaround for [1] until [2] gets merged into vue-material
    // 1: https://github.com/vuematerial/vue-material/issues/1977
    // 2: https://github.com/vuematerial/vue-material/pull/1978
    Vue.component('router-link', Vue.options.components.RouterLink);
    Vue.component('router-view', Vue.options.components.RouterView);

    const store = new Vuex.Store({
      strict: true,
      state: {
        countByAction: {},
        lastError: null,
        personById: {},
      },
      getters: {
        busy: state => {
          let totalCount = Object.values(state.countByAction).reduce((a, b) => a + b, 0)
          return totalCount > 0
        },
        people: state => Object.values(state.personById),
        personByName: (state, getters) => {
          const reducer = (acc, person) => {
            return { ...acc, [person.name]: person }
          }
          return getters.people.reduce(reducer, {})
        },
        names: (state, getters) => Object.keys(getters.personByName),
      },
      mutations: {
        START_ACTION(state, { name }) {
          let count = state.countByAction[name] || 0
          state.countByAction = { ...state.countByAction, [name]: count + 1 }
        },
        STOP_ACTION(state, { name }) {
          let count = state.countByAction[name] || 0
          if (count < 1) {
            throw Error(`Action ${name} stopped more times than started`)
          }
          state.countByAction = { ...state.countByAction, [name]: count - 1 }
        },
        SET_LAST_ERROR(state, { error }) {
          state.lastError = error
        },
        SET_PEOPLE(state, { people }) {
          const reducer = (acc, person) => {
            return { ...acc, [person.id]: person }
          }
          state.personById = people.reduce(reducer, {})
        },
        ADD_PERSON(state, { person }) {
          state.personById = { ...state.personById, [person.id]: person }
        },
        DELETE_PERSON(state, { id }) {
          let personById = { ...state.personById }
          delete personById[id]
          state.personById = personById
        },
        LINK_FACE_TO_PERSON(state, { face, person }) {
          if (person.detected_faces.includes(face)) return
          let updatedPerson = { ...person, detected_faces: [...person.detected_faces, face] }
          state.personById = { ...state.personById, [person.id]: updatedPerson }
        },
      },
      actions: {
        async doAction({ commit }, { name, action }) {
          commit('START_ACTION', { name })
          try {
            return await action()
          } catch (e) {
            commit('SET_LAST_ERROR', { error: `Action '${name}' failed. ${e.toString()}` })
            throw e
          } finally {
            commit('STOP_ACTION', { name })
          }
        },
        async loadPeople({ dispatch, commit }) {
          let result = await dispatch('doAction', {
            name: 'loadPeople',
            action: () => axios.get('/entity/Person')
          })
          commit('SET_PEOPLE', { people: result.data })
        },
        async newPerson({ dispatch, commit }, { name }) {
          let result = await dispatch('doAction', {
            name: 'newPerson',
            action: () => axios.post('/entity/Person', { name })
          })
          commit('ADD_PERSON', { person: result.data })
        },
        async deletePerson({ dispatch, commit, getters }, { id }) {
          let result = await dispatch('doAction', {
            name: 'deletePerson',
            action: () => axios.delete('/entity/Person/' + id)
          })
          commit('DELETE_PERSON', { id })
        },
        async linkFaceToPerson({ dispatch, commit }, { face, person }) {
          await dispatch('doAction', {
            name: 'linkFaceToPerson',
            action: () => axios.post('/link_face_to_person', {
              face_id: face.id,
              person_id: person.id,
            })
          })
          commit('LINK_FACE_TO_PERSON', { face, person })
        }
      },
    })

    const router = new VueRouter({
      routes: [{
        path: '/',
        redirect: '/images/all',
      }, {
        path: '/images',
        component: {
          template: `
            <div>
              <md-tabs md-sync-route>
                <md-tab md-label="Untagged" to="/images/untagged" />
                <md-tab md-label="All" to="/images/all" />
              </md-tabs>
              <router-view></router-view>
            </div>
          `,
        },
        children: [{
          path: 'all/:id?',
          component: {
            template: `
              <md-content>
                <frwa-images />
                <frwa-people />
              </md-content>
            `,
          },
        }, {
          path: 'untagged/:id?',
          component: {
            template: `
              <md-content>
                <frwa-images kind="untagged" />
                <frwa-people />
              </md-content>
            `,
          },
        }],
      }, {
        path: '*',
        component: {
          template: `
              <md-empty-state md-icon="error" md-label="Page not found!">
                  <md-button class="md-primary md-raised" @click="$router.push({path: '/'})">Get me outta here!</md-button>
              </md-empty-state>
            `,
        },
      }],
    })

    new Vue({
      el: '#app',
      store,
      router,
    })
  </script>
</body>

</html>