<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
  <style>
  </style>
</head>

<body>
  <div id="app">
    <md-app>
      <md-app-drawer md-permanent="full">
        <md-toolbar class="md-transparent" md-elevation="0">
          People
        </md-toolbar>
        <md-list>
          <md-list-item v-for="person in persons" v-bind:key="person.id">
            <md-chip v-bind:title="'Created: ' + person.created_at + ', faces: ' + person.detected_faces.length"
              md-deletable v-on:md-delete="deletePerson(person.id)">
              {{person.name}}
            </md-chip>
          </md-list-item>
          <md-list-item>
            <md-field md-inline md-clearable>
              <label>New person...</label>
              <md-input v-on:keyup.enter="newPerson($event.target.value)"></md-input>
            </md-field>
          </md-list-item>
        </md-list>
      </md-app-drawer>
      <md-app-content>
        <image v-if="image" v-bind:src="image.data_uri" v-bind:width="image.width" v-bind:height="image.height"></image>
      </md-app-content>
    </md-app>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vue-material"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    Vue.use(VueMaterial.default)

    new Vue({
      el: '#app',
      data: {
        persons: null,
        imageIds: null,
        imageId: null,
        image: null,
      },
      mounted() {
        this.getPersons()
        this.getImageIds()
      },
      watch: {
        imageId(newId, oldId) {
          if (!newId) {
            return
          }
          axios
            .get('/entity/Image/' + newId)
            .then(response => {
              this.image = response.data
            })
        }
      },
      methods: {
        getPersons() {
          axios
            .get('/entity/Person')
            .then(response => {
              this.persons = response.data
            })
            .catch(error => {
              console.log(error)
            })
        },
        getImageIds() {
          axios
            .get('/untagged_image_ids')
            .then(response => {
              this.imageIds = response.data
              this.imageId = this.imageIds[0]
            })
            .catch(error => {
              console.log(error)
            })
        },
        newPerson(name) {
          axios
            .post('/entity/Person', { name: name })
            .then(response => {
              this.persons.push(response.data)
            })
        },
        deletePerson(id) {
          axios
            .delete('/entity/Person/' + id)
            .then(response => {
              this.persons = this.persons.filter(p => p.id != id)
            })
        }
      },
    })
  </script>
</body>

</html>